# Node
node_modules
dist
build
.next
out

# Logs
*.log
npm-debug.log*

# OS crap
.DS_Store
Thumbs.db

# IDE/editor trash
.vscode
.idea
*.sublime-*
.history
.ionide

# Environment files
.env
.env.local
.env.*
.env.development.local
.env.test.local
.env.production.local

# Firebase
firebase-debug.log
.firebaserc
firebase-debug.*.log*

# Coverage directories
coverage
.nyc_output

# Cache
.cache
.eslintcache
.stylelintcache
.parcel-cache

# Other
*.swp
*.bak
*~
.DS_Store
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions